html, body {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

body {
    text-align: left;
    background-color: #4d6170;
    color: white;
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
#timer,
.anim-text {
    font-family: novecento-sans, sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1 {
    margin: 20px 40px 10px 40px;
    font-size: 36pt;
}

h2 {
    font-size: 18pt;
    margin: 5px 40px;
}

p {
    font-size: 13pt;
    line-height: 1.1em;
    margin: 7px 0;
}

.source > p {
    font-size: 10pt;
    margin: 3px 0;
}

#text {
    display: flex;
    justify-content: center;
}

/* Text animation styles */

@keyframes fade-in {
    0% { opacity: 0; }
    66% { opacity: 1; }
    100% { opacity:0; }
}

@keyframes fade-in-stay {
    0% { opacity: 0; }
    50% {opacity: .5; }
    100% { opacity: 1; }
}

.intro {
    font-size: 60pt;
    line-height: 65pt;
    padding: 50px 50px;
}

.anim-text {
    opacity: 0;
    display: inline;
    animation: fade-in 7s;
}

.anim-text1 {
    animation-fill-mode: forwards;
    z-index: 0;
    position: absolute;
}

.anim-text2 {
    z-index: 1;
    animation-delay: 7s;
    position: absolute;
}

.anim-text2-1 {
    animation-delay: 7s;
}

.anim-text2-2 {
    animation-delay: 9s;
}

.anim-text2-3 {
    animation-delay: 11s;
}

.anim-text5 {
    animation-delay: 18s;
    z-index: 2;
    position: absolute;
}

.anim-text6 {
    animation-delay: 25s;
    z-index: 3;
    position: absolute;
}

.anim-text7 {
    opacity: 0;
    animation: fade-in-stay 3s;
    animation-delay: 32s;
    z-index: 4;
    animation-fill-mode: forwards;
}

/* D3 styles */

circle {
	opacity: 0.9;
}

line {
    stroke: #ffffff;
    opacity: .25;
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 10px 20px 10px 40px;
}

.left {
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    /* padding: 10px 15px 10px 20px; */
}

.timer-container {
    display: inline-block;
    text-align: center;
}

#timer {
    width: 150px;
    height: 150px;
    font-size: 32pt;
    border: 3px #ffffff solid;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

a, a:visited {
    color: #ffffff;
}

.underline {
    text-decoration: underline solid white;
    text-underline-offset: .23em;
    text-decoration-thickness: 0.07em;
}
