body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14pt;
    line-height: 20pt;
    text-align: left;
    padding: 0 10% 0 10%;
    /* background: linear-gradient(to bottom, #c3d5e6, #4d6170); */
    background-color: #4d6170;
    color: white;
}

circle {
	opacity: 0.9;
}

.x-axis > g > line,
.x-axis > path,
.y-axis > path {
    stroke: #ffffff;
}

.x-axis > g > text {
    fill: #ffffff;
}
