html, body {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14pt;
    /* line-height: 18pt; */
    text-align: left;
    background-color: #4d6170;
    color: white;
}

#text {
    display: flex;
    justify-content: center;
}

/* Text animation styles */

@keyframes fade-in {
    0% { opacity: 0; }
    66% { opacity: 1; }
    100% { opacity:0; }
}

@keyframes fade-in-stay {
    0% { opacity: 0; }
    50% {opacity: .5; }
    100% { opacity: 1; }
}

.intro {
    font-size: 60pt;
    line-height: 65pt;
    padding: 50px 50px;
}

.anim-text {
    opacity: 0;
    display: inline;
    animation: fade-in 7s;
}

.anim-text1 {
    animation-fill-mode: forwards;
    z-index: 0;
    position: absolute;
}

.anim-text2 {
    z-index: 1;
    animation-delay: 7s;
    position: absolute;
}

.anim-text2-1 {
    animation-delay: 7s;
}

.anim-text2-2 {
    animation-delay: 9s;
}

.anim-text2-3 {
    animation-delay: 11s;
}

.anim-text5 {
    animation-delay: 18s;
    z-index: 2;
    position: absolute;
}

.anim-text6 {
    animation-delay: 25s;
    z-index: 3;
    position: absolute;
}

.anim-text7 {
    opacity: 0;
    display: inline;
    animation: fade-in-stay 3s;
    animation-delay: 32s;
    z-index: 4;
    animation-fill-mode: forwards;
    padding-top: 10px; 
}

/* D3 styles */

circle {
	opacity: 0.9;
}

.x-axis > g > line,
.x-axis > path,
.y-axis > path {
    stroke: #ffffff;
    opacity: .5;
}

.x-axis > g > text {
    fill: #ffffff;
}

.tick {
    opacity: 0;
}
/* Flexbox example */

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
}

.flex-container2 {
    display: flex;
    flex-direction: column;
    max-width: 35%;
    padding: 10px 20px;
}

#timer {
    width: 125px;
    height: 125px;
    font-size: 20pt;
    border: 3px #ffffff solid;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
