html, body {
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14pt;
    line-height: 20pt;
    text-align: left;
    padding: 0 10% 0 10%;
    /* background: linear-gradient(to bottom, #c3d5e6, #4d6170); */
    background-color: #4d6170;
    color: white;
}

circle {
	opacity: 0.9;
}

.x-axis > g > line,
.x-axis > path,
.y-axis > path {
    stroke: #ffffff;
}

.x-axis > g > text {
    fill: #ffffff;
}


#container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    flex: 1 0 20%;
    align-items: center;
    justify-content: center;
}

#body {
    flex: 1 0 80%;
	display: flex;
	flex-direction: column;
}

#r1 {
    display: flex;
    flex-direction: row;
}

#r1-elem1 {
    flex: 1 0 80%;
}

#r1-elem2 {
    flex: 1 0 20%;
    padding-left: 40px;
}

#r1-elem2 > span {
    width: 125px;
    height: 125px;
    font-size: 20pt;
    border: 3px #ffffff solid;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
}